/*@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Oswald";

  /google fonts-choose a font-import-or instead of import you can use link and put it under vhead tag/
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 5px;
  color: white;
  font-family: "Oswald";
  font-weight: bold;


  text-decoration: none;
  padding: 5px;
}

.nav a:hover {
  background-color: rgba(255, 2, 2, 0.3);
}

.nav {
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

.nav ul {
  margin: 0px;
}

header {
  background-image: url(https://media.gettyimages.com/id/898548516/video/abstract-lines-background.jpg?s=640x640&k=20&c=fYcxd5_ziS30c7efmeixhMWDz6k1NslboiaBcLmr6AY=);
  background-size: cover;
  padding-bottom: 30px;
  max-height: 40vh;
}

.name {
  margin: 0px;
  text-align: center;
  font-family: "Bungee Tint";
  font-weight: 400;
  font-style: normal;
}

.footer-name {
  color: white;
  text-align: center;
  font-size: 2.5em;
}

.size {
  font-size: 6em;
}

.content-section {
  margin: 2em;
}

.container {
  max-width: 900px;
  margin: 0px auto;
  
}

.section-header {
  text-align: center;
}

.brunoimg {
  float: left;
  margin: 15px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.mainfooter {
  background-color: #00ffff;
  color: aliceblue;
  
}

.main-footer-container {
  display: flex;
  /* align-items: center;*/
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

footer-nav {
  padding: 0 0.5em;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
}

.btn-header {
 /* margin: 5em 15% 2em 15%;*/
  color: white;
  border: 2px solid #00ffff;
  background-color:rgba(0,0, 0, 0.1);
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
 /* padding: 1px 2em;*/
 text-align: center;
}

.btn-header:hover{
  background-color: rgba(255, 2, 2, 0.3);
}

.btn-play{
   display: block; 
   margin: 0px auto;  
  color: #00ffff;

  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 0px;
  font-size: 2em;
  position: relative;
  top: -75px;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.varti{
  display: inline;
}

.shop-item{
   margin:30px ; 
  
}

 .shop-item-title{
  display: block;
  width: 40%;
   text-align: center; 
   font-weight: bolder;
   font-size: 1.5em;
   margin-bottom: 15px;
 }

.shop-item-details{
  display: flex;
   align-items: center; 
   padding: 5px;
}

.shop-item-price{
 flex-grow: 1;
}

.shop-items{
  display: flex;
   flex-wrap: wrap; 
   justify-content: space-around;
}

.shop-item-image{
  width: 250px;

}

.store-text-decor{
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(243, 88, 114) ;
  padding-bottom: 15px;
  
}

.shop-item-btn{
  cursor: pointer;
}

.shop-item-titles{
  display: block;
  width: 80%;
   text-align: center; 
   font-weight: bolder;
   font-size:1.5em ;
   margin-bottom: 15px;
}

